/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
     color: #121212;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', Helvetica, Arial, sans-serif;
     width: 100%;
     height:100%;
     margin: 0;
     padding: 0;
}

#container, .wrapper {
    min-width: 100%;
     min-height: 100%;
     background-color: #fff;
     position: relative;
     top: 0;
     bottom: 100%;
     left: 0;
     z-index: 1;
     padding: 0em;
    background-image: linear-gradient(135deg,
                      rgb(254,255,255) 0%,
                      rgb(221,241,249) 35%,
                      rgb(160,216,239) 100%);
    background-size: 200%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;

}

#container.show-nav {
  left: 200px;
}

.navigation {
    list-style: none;
    background-color: #3f3f3f;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    color: #ffffff;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 20;
    width: 44px;
    height: 44px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}

#hamburger.show-nav {
  left: 215px;
}
